<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>隨機數字操作</title>
    <style>
        #get_number{
            font-size: 30px;
        }
        #result_container{
            margin: 2em;
            font-size: 2em;
            font-weight: bold;
            text-align: center;
        }
        body{
            margin: 40px;
        }
    </style>
</head>
<body>
    <h1>隨機數字操作</h1>
    「 {{ init_numbes_set|join:' , ' }} 」
    <br>
    <hr>
    <br>

    <!-- 取數字按鈕 -->
    <button onclick="get_random_number()">取數字</button>
    <div id="get_number">
        <p>取數字結果：</p>
        <div id="result_list"></div>
        <br>
        <div id="result_container"></div>
    </div>

    <hr>

    <!-- 顯示按鈕 -->
    <button onclick="show_numbers()">未取出顯示</button>
    <p id="show_numbers_result"></p>

    <hr>
    <!-- 初始化按鈕 -->
    <button onclick="init_numbers()">初始化</button>
    <p id="init_result"></p>

    <script>
        let check_function_end = true;
        const result_list = document.getElementById('result_list');
        const result = document.getElementById('result_container');
        const show_span = document.getElementById('show_numbers_result');

        function get_random_number() {
            if (check_function_end){
            check_function_end = false;
            fetch('/number/get/{{ identifier }}/')
                .then(response => response.json())
                .then(data => {
                    // 更新取數字結果
                    console.log(data)
                    if (data.random_number){
                        result.innerHTML = `<span>${JSON.stringify(data.random_number)}</span><br>`;
                        result_list.innerHTML += data.random_number +',  '

                    }else{
                        result.innerHTML = `<span>${JSON.stringify(data.message)},數字已全被抽光了 </span><br>`;
                    }
                    check_function_end = true;
                });
            }
        }

        function show_numbers() {
            if (check_function_end){
            check_function_end = false;
            fetch('/number/show/{{ identifier }}/')
                .then(response => response.json())
                .then(data => {
                    if (data.ok){
                        const itemsResult = data.number_set.join(' , ');
                        show_span.innerText = `顯示結果：${itemsResult}`;
                    }else{
                        show_span.innerHTML = `<span> 請初始化, 已被抽光了 </span><br>`;
                    }
                    check_function_end = true;
                });
            }
        }

        function init_numbers() {
            if (check_function_end){
            check_function_end = false;
            fetch('/number/init/{{ identifier }}/')
                .then(response => response.json())
                .then(data => {
                    // 更新初始化结果
                    if (data.ok){
                        document.getElementById('init_result').innerText = `初始化結果：${JSON.stringify(data.number_set)}`;
                        result.innerHTML = "";
                        result_list.innerHTML = "";
                        show_span.innerHTML = "";
                    }else{
                        document.getElementById('init_result').innerText = `初始化結果：${JSON.stringify(data.message)}`;
                    }
                    check_function_end = true;
                });
            }
        }

        // 檢核網址正確性
        function check_url() {
            fetch('/number/check/{{ identifier }}/')
                .then(response => response.json())
                .then(data => {
                    // 更新初始化结果
                    if (data.ok){
                    }else{
                        let url = '/number/';
                        window.location.href = url;
                    }
                });
        }
        check_url()
    </script>

</body>
</html>