<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>隨機操作</title>
    <style>
        #get_item_result{
            font-size: 30px;
        }
        #result_container{
            margin: 2em;
            font-size: 2em;
            font-weight: bold;
            text-align: center;
        }
        body{
            margin: 40px;
        }
    </style>
</head>
<body>
    <h1>隨機取出</h1>
    「{{ init_items_set|join:' , ' }}」
    <br>
    <hr>
    <br>

    <!-- 取項目按鈕 -->
    <button onclick="get_random_item()">取</button>
    <div id="get_item_result">
        <p>取 結果：</p>
        <div id="result_list"></div>
        <br>
        <div id="result_container"></div>
    </div>

    <hr>

    <!-- 顯示按鈕 -->
    <button onclick="show_items()">未取出顯示</button>
    <p id="showItemsResult"></p>

    <hr>
    <!-- 初始化按鈕 -->
    <button onclick="init_items()">初始化</button>
    <p id="initResult"></p>

    <script>
        let check_function_end = true;
        const result_list = document.getElementById('result_list');
        const result = document.getElementById('result_container');
        const show_span = document.getElementById('showItemsResult');

        function get_random_item() {
        if (check_function_end) {
            check_function_end = false;
            fetch('/item/get/{{ identifier }}/')
                .then(response => response.json())
                .then(data => {
                    // 更新取結果
                    if (data.ok) {
                        result.innerHTML = `<span>${data.random_item}</span><br>`;
                        result.innerHTML += `<br/>`;
                        result_list.innerHTML += data.random_item + ',  ';
                    } else {
                        result.innerHTML = `<span>${data.message}, 已被抽光了 </span><br>`;
                    }
                    check_function_end = true;
                });
            }
        }

        function show_items() {
        if (check_function_end) {
            check_function_end = false;
            fetch('/item/show/{{ identifier }}/')
                .then(response => response.json())
                .then(data => {
                    // 更新顯示結果
                    if (data.ok) {
                        const itemsResult = data.items_set.join(' ');
                        show_span.innerText = `顯示結果：${itemsResult}`;
                    } else {
                        show_span.innerHTML = `<span> 請初始化, 已被抽光了 </span><br>`;
                    }
                    check_function_end = true;
                });
            }
        }

        function init_items() {
        if (check_function_end) {
            check_function_end = false;
            fetch('/item/init/{{ identifier }}/')
                .then(response => response.json())
                .then(data => {
                    // 更新初始化结果
                    if (data.ok) {
                        document.getElementById('initResult').innerText = `初始化結果：${data.items_set.join(' ')}`;
                        result.innerHTML = "";
                        result_list.innerHTML = "";
                        show_span.innerHTML = "";
                    } else {
                        document.getElementById('initResult').innerText = `初始化結果：${data.message}`;
                    }
                    check_function_end = true;
                });
            }
        }

        // 檢核網址正確性
        function check_url() {
            fetch('/item/check/{{ identifier }}/')
                .then(response => response.json())
                .then(data => {
                    // 更新初始化结果
                    if (data.ok){
                    }else{
                        let url = '/item/';
                        window.location.href = url;
                    }
                });
        }
        check_url()
    </script>
</body>
</html>